/* aligns all unordered lists to the centre of screen */
header ul {
  top: 3%;
  right: 0px;
  transform: translateX(-10%);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

/* removes the bullet and spaces them 20px apart*/
header ul li {
  list-style: none;
  margin-left: 20px;
}

/* removes underline, pads the text to be further apart, sets text colour and rounds the hover affect */
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #3a3939;
  font-weight: bold;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background-color: white;
}

body {
  background: #f5f3ef;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aboutme {
  top: 50px;
  position: relative;
  color: #3a3939;
  z-index: 12;
}

.name h1 {
  top: 30px;
  position: relative;
  z-index: 12;
  color: #3a3939;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.introsection {
  color: #3a3939;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin-bottom: 10px;
  position: relative;
  z-index: 10;
  display: grid;
  place-items: left;
  align-content: center; /*aligns vertically*/
  min-height: 50vh;
  text-align: left;
  padding-top: 2em;
  padding-left: 15em;
  padding-right: 15em;
  padding-bottom: 5em;
}

section {
  color: #3a3939;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin-bottom: 10px;
  position: relative;
  z-index: 11;
  place-items: left;
  align-content: center; /*aligns vertically*/
  min-height: 50vh;
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
}

.hidden {
  position: relative;
  z-index: 12;
  opacity: 1;
  filter: blur(5px);
  transform: translateY(100px);
  transition: all 2s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* what happens when show is called for texts to appear on screen */
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0px);
  z-index: 9;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.cvColumn {
  /* position: fixed; */
  width: 100%;
}

.hidden button {
  cursor: pointer;
  display: inline;
  background-color: #f5f3ef;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  border: 0px solid #ccc;
  min-height: 40px;
  min-width: 90px;
  align-items: center;
}

.hidden button a {
  color: lightcoral;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

form {
  /*where download my is*/
  padding-top: 15px;
  font-size: 1.8em;
  color: lightcoral;
  font-weight: bold;
  display: flex;
  align-items: center;
}

svg {
  z-index: 12;
  fill: lightcoral;
}

.name {
  font-size: 2em;
  position: sticky;
  top: 0;
  z-index: 11;
  background-color: #f5f3ef;
  height: 125px;
}

.intro {
  font-size: 1.2em;
  background-color: #404040;
  border-radius: 10px;
}

.intro a {
  padding-right: 15px;
  padding-left: 15px;
}
.intro p {
  text-align: justify;
  color: #ccc;
  padding-right: 40px;
  padding-left: 40px;
  border-top: 15px;
}
.intro .content {
  padding-bottom: 15px;
}

.intro .contentComments p {
  color: olivedrab;
  margin: 5px;
}

.head svg {
  z-index: 12;
  fill: #3a3939;
}

.allaboutme {
  display: flex;
}

.box1 {
  background-color: cadetblue;
  width: 33.3%;
}

.box2 {
  background-color: mistyrose;
  width: 33.3%;
}

.box3 {
  width: 33.3%;
}
