body {
    background :#F5F3EF;
    margin: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    color: #3A3939;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
section {
display: grid;
place-items: center;
align-content: center;
min-height: 100vh;
}

.hidden {
opacity: 0;
filter: blur(5px);
transform: translateX(-100%);
transition: all 2s;
}

@media (prefers-reduced-motion) {
.hidden {
    transition: none;
}
}

/* what happens when show is called for texts to appear on screen */
.show{
opacity: 1;
filter: blur(0);
transform: translateX(0);
}

/* aligns all unordered lists to the centre of screen */
header ul {
display: flex;
justify-content: center;
align-items: center;
}

/* removes the bullet and spaces them 20px apart*/
header ul li{
list-style: none;
margin-left: 20px;
}

/* removes underline, pads the text to be further apart, sets text colour and rounds the hover affect */
header ul li a{
text-decoration: none;
padding: 6px 15px;
color: black;
border-radius: 20px;
}

header ul li a:hover, header ul li a.active {
background-color: #DFDADA;
}


